# XGBoost Native API on Adult (Census) Data

In [1]:
import os
os.cpu_count()

12

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import ConfusionMatrixDisplay

import time

In [3]:
import sys

sys.path.append('C:/Users/scott/ML/')
from library import data_processing

## 1.  Data Processing

In [4]:
df = pd.read_csv('C:/Users/scott/ML/adult/adult.data', sep = ',\s', header = None)

C:\Users\scott\AppData\Local\Temp\ipykernel_9032\499192434.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('C:/Users/scott/ML/adult/adult.data', sep = ',\s', header = None)

In [5]:
df.shape

(32561, 15)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
test = pd.read_csv('C:/Users/scott/ML/adult/adult_test.csv', sep = ',\s')
test.head()

C:\Users\scott\AppData\Local\Temp\ipykernel_9032\687727845.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test = pd.read_csv('C:/Users/scott/ML/adult/adult_test.csv', sep = ',\s')

                                                                                                                        |1x3 Cross validator
25 Private   226802 11th         7  Never-married      Machine-op-inspct Own-child Black Male   0    0 40 United-States               <=50K.
38 Private   89814  HS-grad      9  Married-civ-spouse Farming-fishing   Husband   White Male   0    0 50 United-States               <=50K.
28 Local-gov 336951 Assoc-acdm   12 Married-civ-spouse Protective-serv   Husband   White Male   0    0 40 United-States                >50K.
44 Private   160323 Some-college 10 Married-civ-spouse Machine-op-inspct Husband   Black Male   7688 0 40 United-States                >50K.
18 ?         103497 Some-college 10 Never-married      ?                 Own-child White Female 0    0 30 United-States               <=50K.

In [8]:
test.reset_index(inplace = True)

In [9]:
test.shape

(16281, 15)

In [10]:
colnames = ['age', 'workclass', 'fnlwgt', 'educatn', 'edctn_num', 'mrtl_sts', 'occptn', 'rlnshp', 'race', 'sex', 'cgain', 'closs', 'hrsprweek', 'ntv_cntry', 'income']

In [11]:
df.columns = colnames
df.head()

,age,workclass,fnlwgt,educatn,edctn_num,mrtl_sts,occptn,rlnshp,race,sex,cgain,closs,hrsprweek,ntv_cntry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
test.columns = colnames
test.head()

,age,workclass,fnlwgt,educatn,edctn_num,mrtl_sts,occptn,rlnshp,race,sex,cgain,closs,hrsprweek,ntv_cntry,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [13]:
df.dtypes

age           int64
workclass    object
fnlwgt        int64
educatn      object
edctn_num     int64
mrtl_sts     object
occptn       object
rlnshp       object
race         object
sex          object
cgain         int64
closs         int64
hrsprweek     int64
ntv_cntry    object
income       object
dtype: object

In [14]:
df.describe()

,age,fnlwgt,edctn_num,cgain,closs,hrsprweek
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [15]:
catlist = ['workclass', 'educatn', 'mrtl_sts', 'occptn', 'rlnshp', 'race', 'sex', 'ntv_cntry', 'income']
for v in catlist:
    print(df[v].value_counts())

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: educatn, dtype: int64
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: mrtl_sts, dtype: int64
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occptn, dtype: int64
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: rlnshp, dtype: int64
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Male      21790
Female    10771
Name: sex, dtype: int64
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: ntv_cntry, dtype: int64
<=50K    24720
>50K      7841
Name: income, dtype: int64

In [16]:
for v in catlist:
    print(df[v].unique().tolist())

['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked']
['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', 'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school', '5th-6th', '10th', '1st-4th', 'Preschool', '12th']
['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse', 'Widowed']
['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair', 'Transport-moving', 'Farming-fishing', 'Machine-op-inspct', 'Tech-support', '?', 'Protective-serv', 'Armed-Forces', 'Priv-house-serv']
['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried', 'Other-relative']
['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']
['Male', 'Female']
['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico', 'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'China', 'Japan', 'Yugoslavia', 'Peru', 'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago', 'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary', 'Holand-Netherlands']
['<=50K', '>50K']

In [17]:
df['workclass'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [18]:
for v in catlist:
    print(test[v].unique().tolist())

['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov', 'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked']
['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th', 'Prof-school', '7th-8th', 'Bachelors', 'Masters', 'Doctorate', '5th-6th', 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool']
['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced', 'Separated', 'Married-spouse-absent', 'Married-AF-spouse']
['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?', 'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical', 'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv', 'Transport-moving', 'Handlers-cleaners', 'Armed-Forces']
['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife', 'Other-relative']
['Black', 'White', 'Asian-Pac-Islander', 'Other', 'Amer-Indian-Eskimo']
['Male', 'Female']
['United-States', '?', 'Peru', 'Guatemala', 'Mexico', 'Dominican-Republic', 'Ireland', 'Germany', 'Philippines', 'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam', 'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland', 'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal', 'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica', 'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece', 'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France']
['<=50K.', '>50K.']

In [19]:
pd.crosstab(df['educatn'],df['edctn_num'])

edctn_num,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
educatn,,,,,,,,,,,,,,,,
10th,0,0,0,0,0,933,0,0,0,0,0,0,0,0,0,0
11th,0,0,0,0,0,0,1175,0,0,0,0,0,0,0,0,0
12th,0,0,0,0,0,0,0,433,0,0,0,0,0,0,0,0
1st-4th,0,168,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5th-6th,0,0,333,0,0,0,0,0,0,0,0,0,0,0,0,0
7th-8th,0,0,0,646,0,0,0,0,0,0,0,0,0,0,0,0
9th,0,0,0,0,514,0,0,0,0,0,0,0,0,0,0,0
Assoc-acdm,0,0,0,0,0,0,0,0,0,0,0,1067,0,0,0,0
Assoc-voc,0,0,0,0,0,0,0,0,0,0,1382,0,0,0,0,0
Bachelors,0,0,0,0,0,0,0,0,0,0,0,0,5355,0,0,0
Doctorate,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,413
HS-grad,0,0,0,0,0,0,0,0,10501,0,0,0,0,0,0,0
Masters,0,0,0,0,0,0,0,0,0,0,0,0,0,1723,0,0
Preschool,51,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Prof-school,0,0,0,0,0,0,0,0,0,0,0,0,0,0,576,0
Some-college,0,0,0,0,0,0,0,0,0,7291,0,0,0,0,0,0

In [20]:
df['cntry'] = np.where(df['ntv_cntry']== ' United-States', 'USA', 'Non_US')
df['y'] = np.where(df['income']== '>50K', 1, 0)

In [21]:
df['y'].value_counts()

0    24720
1     7841
Name: y, dtype: int64

In [22]:
test['income'].value_counts()

<=50K.    12435
>50K.      3846
Name: income, dtype: int64

In [23]:
test['cntry'] = np.where(test['ntv_cntry']== ' United-States', 'USA', 'Non_US')
test['y'] = np.where(test['income']== '>50K.', 1, 0)

In [24]:
test['y'].value_counts()

0    12435
1     3846
Name: y, dtype: int64

In [25]:
df = df.drop(['educatn', 'ntv_cntry', 'income'], axis = 1)

In [26]:
df.head()

,age,workclass,fnlwgt,edctn_num,mrtl_sts,occptn,rlnshp,race,sex,cgain,closs,hrsprweek,cntry,y
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,Non_US,0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,Non_US,0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,Non_US,0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,Non_US,0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Non_US,0

In [27]:
test = test.drop(['educatn', 'ntv_cntry', 'income'], axis = 1)

In [28]:
df.replace('?', np.nan, inplace = True)
test.replace('?', np.nan, inplace = True)

In [29]:
df.isna().sum() * 100 / len(df)

age          0.000000
workclass    5.638647
fnlwgt       0.000000
edctn_num    0.000000
mrtl_sts     0.000000
occptn       5.660146
rlnshp       0.000000
race         0.000000
sex          0.000000
cgain        0.000000
closs        0.000000
hrsprweek    0.000000
cntry        0.000000
y            0.000000
dtype: float64

In [30]:
test.isna().sum() * 100 / len(test)

age          0.000000
workclass    5.914870
fnlwgt       0.000000
edctn_num    0.000000
mrtl_sts     0.000000
occptn       5.933296
rlnshp       0.000000
race         0.000000
sex          0.000000
cgain        0.000000
closs        0.000000
hrsprweek    0.000000
cntry        0.000000
y            0.000000
dtype: float64

In [31]:
# LightGBM can natively handle categorical features. For this we need to cast the cattegorical variables as datatype 'category'

df['sex'] = df['sex'].astype('category')
df['workclass'] = df['workclass'].astype('category')
df['mrtl_sts'] = df['mrtl_sts'].astype('category')
df['occptn'] = df['occptn'].astype('category')
df['rlnshp'] = df['rlnshp'].astype('category')
df['race'] = df['race'].astype('category')
df['cntry'] = df['cntry'].astype('category')

In [32]:
cat_features = ['sex', 'workclass', 'mrtl_sts', 'occptn', 'rlnshp', 'race', 'cntry']

In [33]:
df_train, df_val = data_processing.stratified_sampling_with_weight(data = df, weight = 'fnlwgt', test_frac = 0.3, seed = 2025, stratified_col = ['y'])

In [34]:
df_train['fnlwgt'].sum()/df['fnlwgt'].sum()

0.7000109649629018

## 2. Train LightGBM using native api

In [35]:
columns = df_train.columns.tolist()
columns

['age',
 'workclass',
 'fnlwgt',
 'edctn_num',
 'mrtl_sts',
 'occptn',
 'rlnshp',
 'race',
 'sex',
 'cgain',
 'closs',
 'hrsprweek',
 'cntry',
 'y']

In [36]:
target = 'y'
cv_col = 'cv_fold'
weight = 'fnlwgt'

othervars = [target, cv_col, weight]
predictors = [v for v in columns if v not in othervars]

In [37]:
df_train = df_train.reset_index(drop = True)
df_val = df_val.reset_index(drop = True)

In [40]:
#Prepare the data

import xgboost as xgb

train_data = xgb.DMatrix(df_train[predictors], label=df_train[target], weight = df_train[weight], enable_categorical = True)
valid_data = xgb.DMatrix(df_val[predictors], label=df_val[target], weight = df_val[weight], enable_categorical = True)

In [56]:
%%time

#Use optuna to tune hyperparameters

import optuna

def objective(trial):
    params = {
        "objective": "binary:logistic",
        "eval_metric": "auc",
        "booster": "gbtree",
        "tree_method": "hist",
        "learning_rate": trial.suggest_float("learning_rate", 0.01, 0.3, log = True),
        "max_depth": trial.suggest_int("max_depth", 2, 6),
        "max_leaves": trial.suggest_int("num_leaves", 3, 50),
        "n_estimators": trial.suggest_int("n_estimators", 200, 800),
        "verbosity": 0
    }
    
    cv_result = xgb.cv(
        params,
        train_data,
        nfold = 3,
        stratified = True,
        metrics = "auc",
        num_boost_round = 500,
        early_stopping_rounds = 10,
        seed = 42,
        verbose_eval = False
    )
    #extract the best iterationn
    best_auc = cv_result["test-auc-mean"].max()
    best_iter = cv_result["test-auc-mean"].idxmax()
    
    #save it in the user atttribute to call later
    trial.set_user_attr("best_iteration", best_iter)
    
    return best_auc

study = optuna.create_study(direction = "maximize")
study.optimize(objective, n_trials = 30)

print("Best AUC:", study.best_value)
print("Best Parameters:", study.best_params)

[I 2025-06-29 22:41:20,283] A new study created in memory with name: no-name-a8521d84-fe8d-49df-9ede-67a953761ae2
[I 2025-06-29 22:41:34,130] Trial 0 finished with value: 0.9226919162165764 and parameters: {'learning_rate': 0.02698041346387083, 'max_depth': 2, 'num_leaves': 39, 'n_estimators': 504}. Best is trial 0 with value: 0.9226919162165764.
[I 2025-06-29 22:41:37,614] Trial 1 finished with value: 0.928785861325495 and parameters: {'learning_rate': 0.13521199908240303, 'max_depth': 6, 'num_leaves': 48, 'n_estimators': 716}. Best is trial 1 with value: 0.928785861325495.
[I 2025-06-29 22:41:44,610] Trial 2 finished with value: 0.9297860491537268 and parameters: {'learning_rate': 0.09597189598354575, 'max_depth': 6, 'num_leaves': 14, 'n_estimators': 780}. Best is trial 2 with value: 0.9297860491537268.
[I 2025-06-29 22:41:58,640] Trial 3 finished with value: 0.9258851355706041 and parameters: {'learning_rate': 0.04216287142747652, 'max_depth': 2, 'num_leaves': 50, 'n_estimators': 347}. Best is trial 2 with value: 0.9297860491537268.
[I 2025-06-29 22:42:12,294] Trial 4 finished with value: 0.9237554574306843 and parameters: {'learning_rate': 0.030903331486215917, 'max_depth': 2, 'num_leaves': 19, 'n_estimators': 715}. Best is trial 2 with value: 0.9297860491537268.
[I 2025-06-29 22:42:26,161] Trial 5 finished with value: 0.9304912840547207 and parameters: {'learning_rate': 0.04633412883226345, 'max_depth': 3, 'num_leaves': 18, 'n_estimators': 284}. Best is trial 5 with value: 0.9304912840547207.
[I 2025-06-29 22:42:41,083] Trial 6 finished with value: 0.9302541545101081 and parameters: {'learning_rate': 0.03234072668958456, 'max_depth': 4, 'num_leaves': 28, 'n_estimators': 274}. Best is trial 5 with value: 0.9304912840547207.
[I 2025-06-29 22:42:48,301] Trial 7 finished with value: 0.9300770685212845 and parameters: {'learning_rate': 0.05390738076889435, 'max_depth': 6, 'num_leaves': 38, 'n_estimators': 539}. Best is trial 5 with value: 0.9304912840547207.
[I 2025-06-29 22:43:02,999] Trial 8 finished with value: 0.9258333417798944 and parameters: {'learning_rate': 0.02116765466145066, 'max_depth': 3, 'num_leaves': 13, 'n_estimators': 652}. Best is trial 5 with value: 0.9304912840547207.
[I 2025-06-29 22:43:14,362] Trial 9 finished with value: 0.9156533365219867 and parameters: {'learning_rate': 0.010369917823222767, 'max_depth': 2, 'num_leaves': 50, 'n_estimators': 643}. Best is trial 5 with value: 0.9304912840547207.
[I 2025-06-29 22:43:17,837] Trial 10 finished with value: 0.9305175077763176 and parameters: {'learning_rate': 0.24567047190903032, 'max_depth': 4, 'num_leaves': 7, 'n_estimators': 200}. Best is trial 10 with value: 0.9305175077763176.
[I 2025-06-29 22:43:28,356] Trial 11 finished with value: 0.9307826178827211 and parameters: {'learning_rate': 0.24589474960378746, 'max_depth': 4, 'num_leaves': 3, 'n_estimators': 202}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:43:34,948] Trial 12 finished with value: 0.929621287236567 and parameters: {'learning_rate': 0.2885198164448125, 'max_depth': 4, 'num_leaves': 3, 'n_estimators': 220}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:43:40,692] Trial 13 finished with value: 0.9285276156109324 and parameters: {'learning_rate': 0.26366804003756467, 'max_depth': 5, 'num_leaves': 3, 'n_estimators': 378}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:43:46,074] Trial 14 finished with value: 0.9305706594822091 and parameters: {'learning_rate': 0.1477745982043988, 'max_depth': 5, 'num_leaves': 9, 'n_estimators': 202}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:43:51,612] Trial 15 finished with value: 0.9304665978059078 and parameters: {'learning_rate': 0.14577241390310208, 'max_depth': 5, 'num_leaves': 10, 'n_estimators': 407}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:43:56,180] Trial 16 finished with value: 0.9303938061056193 and parameters: {'learning_rate': 0.11065266741048611, 'max_depth': 5, 'num_leaves': 24, 'n_estimators': 446}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:44:00,349] Trial 17 finished with value: 0.9305986035943073 and parameters: {'learning_rate': 0.17841780674543728, 'max_depth': 5, 'num_leaves': 8, 'n_estimators': 299}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:44:08,386] Trial 18 finished with value: 0.9307119284517724 and parameters: {'learning_rate': 0.08497482680355897, 'max_depth': 3, 'num_leaves': 29, 'n_estimators': 300}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:44:16,840] Trial 19 finished with value: 0.9307011201641623 and parameters: {'learning_rate': 0.08217771896162888, 'max_depth': 3, 'num_leaves': 30, 'n_estimators': 320}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:44:27,190] Trial 20 finished with value: 0.9306542253906084 and parameters: {'learning_rate': 0.07917938503863597, 'max_depth': 3, 'num_leaves': 34, 'n_estimators': 463}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:44:36,495] Trial 21 finished with value: 0.9303131041598031 and parameters: {'learning_rate': 0.07217838446291265, 'max_depth': 3, 'num_leaves': 29, 'n_estimators': 299}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:44:47,741] Trial 22 finished with value: 0.9306676090220464 and parameters: {'learning_rate': 0.0703151521171894, 'max_depth': 3, 'num_leaves': 23, 'n_estimators': 333}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:44:51,499] Trial 23 finished with value: 0.929853970906802 and parameters: {'learning_rate': 0.19643135602175402, 'max_depth': 4, 'num_leaves': 32, 'n_estimators': 248}. Best is trial 11 with value: 0.9307826178827211.
[I 2025-06-29 22:45:00,248] Trial 24 finished with value: 0.9308881274595131 and parameters: {'learning_rate': 0.10428168872570437, 'max_depth': 3, 'num_leaves': 43, 'n_estimators': 347}. Best is trial 24 with value: 0.9308881274595131.
[I 2025-06-29 22:45:05,603] Trial 25 finished with value: 0.9302424535334008 and parameters: {'learning_rate': 0.11071626467805372, 'max_depth': 4, 'num_leaves': 44, 'n_estimators': 389}. Best is trial 24 with value: 0.9308881274595131.
[I 2025-06-29 22:45:10,768] Trial 26 finished with value: 0.9307213792644191 and parameters: {'learning_rate': 0.18625397698705784, 'max_depth': 3, 'num_leaves': 41, 'n_estimators': 248}. Best is trial 24 with value: 0.9308881274595131.
[I 2025-06-29 22:45:14,349] Trial 27 finished with value: 0.9292528867308943 and parameters: {'learning_rate': 0.21016235636336383, 'max_depth': 4, 'num_leaves': 43, 'n_estimators': 244}. Best is trial 24 with value: 0.9308881274595131.
[I 2025-06-29 22:45:19,638] Trial 28 finished with value: 0.9306115193632194 and parameters: {'learning_rate': 0.1671440440060376, 'max_depth': 3, 'num_leaves': 37, 'n_estimators': 252}. Best is trial 24 with value: 0.9308881274595131.
[I 2025-06-29 22:45:26,643] Trial 29 finished with value: 0.9310712334620176 and parameters: {'learning_rate': 0.22240368427439378, 'max_depth': 2, 'num_leaves': 44, 'n_estimators': 545}. Best is trial 29 with value: 0.9310712334620176.

Best AUC: 0.9310712334620176
Best Parameters: {'learning_rate': 0.22240368427439378, 'max_depth': 2, 'num_leaves': 44, 'n_estimators': 545}
CPU times: total: 18min 14s
Wall time: 4min 6s

In [58]:
best_iteration = study.best_trial.user_attrs.get("best_iteration", 100)

In [61]:
#Train a model using the best hyperparameters

best_params = study.best_params.copy()

best_params.update({
    "objective": "binary:logistic",
    "eval_metric": "auc",
    "tree_method": "hist"
})


model = xgb.train(
    best_params,
    train_data,
    evals = [(train_data, "train"), (valid_data, "eval")],
    num_boost_round = best_iteration

)

[0]	train-auc:0.84081	eval-auc:0.83582
[1]	train-auc:0.85227	eval-auc:0.84655
[2]	train-auc:0.86220	eval-auc:0.85669
[3]	train-auc:0.86450	eval-auc:0.85925
[4]	train-auc:0.88111	eval-auc:0.87983
[5]	train-auc:0.89554	eval-auc:0.89158
[6]	train-auc:0.89557	eval-auc:0.89175
[7]	train-auc:0.89965	eval-auc:0.89555
[8]	train-auc:0.90279	eval-auc:0.89968
[9]	train-auc:0.90514	eval-auc:0.90096
[10]	train-auc:0.90588	eval-auc:0.90093
[11]	train-auc:0.90840	eval-auc:0.90431
[12]	train-auc:0.90892	eval-auc:0.90471
[13]	train-auc:0.91027	eval-auc:0.90562
[14]	train-auc:0.91223	eval-auc:0.90797
[15]	train-auc:0.91395	eval-auc:0.90948
[16]	train-auc:0.91481	eval-auc:0.91053
[17]	train-auc:0.91501	eval-auc:0.91083
[18]	train-auc:0.91560	eval-auc:0.91175
[19]	train-auc:0.91617	eval-auc:0.91199
[20]	train-auc:0.91719	eval-auc:0.91296
[21]	train-auc:0.91756	eval-auc:0.91374
[22]	train-auc:0.91771	eval-auc:0.91361
[23]	train-auc:0.91805	eval-auc:0.91363
[24]	train-auc:0.91875	eval-auc:0.91430
[25]	train-auc:0.91878	eval-auc:0.91465
[26]	train-auc:0.91928	eval-auc:0.91525
[27]	train-auc:0.91942	eval-auc:0.91543
[28]	train-auc:0.91998	eval-auc:0.91579
[29]	train-auc:0.92038	eval-auc:0.91604
[30]	train-auc:0.92072	eval-auc:0.91614
[31]	train-auc:0.92092	eval-auc:0.91640
[32]	train-auc:0.92144	eval-auc:0.91704
[33]	train-auc:0.92163	eval-auc:0.91724
[34]	train-auc:0.92190	eval-auc:0.91735
[35]	train-auc:0.92211	eval-auc:0.91756
[36]	train-auc:0.92213	eval-auc:0.91769
[37]	train-auc:0.92241	eval-auc:0.91813
[38]	train-auc:0.92274	eval-auc:0.91836
[39]	train-auc:0.92303	eval-auc:0.91872
[40]	train-auc:0.92334	eval-auc:0.91896
[41]	train-auc:0.92351	eval-auc:0.91894
[42]	train-auc:0.92357	eval-auc:0.91905
[43]	train-auc:0.92379	eval-auc:0.91930
[44]	train-auc:0.92389	eval-auc:0.91945
[45]	train-auc:0.92419	eval-auc:0.91959
[46]	train-auc:0.92445	eval-auc:0.91969
[47]	train-auc:0.92475	eval-auc:0.91992
[48]	train-auc:0.92494	eval-auc:0.92011
[49]	train-auc:0.92506	eval-auc:0.92022
[50]	train-auc:0.92529	eval-auc:0.92048
[51]	train-auc:0.92554	eval-auc:0.92065
[52]	train-auc:0.92579	eval-auc:0.92145
[53]	train-auc:0.92595	eval-auc:0.92155
[54]	train-auc:0.92607	eval-auc:0.92176
[55]	train-auc:0.92624	eval-auc:0.92186
[56]	train-auc:0.92652	eval-auc:0.92210
[57]	train-auc:0.92715	eval-auc:0.92303
[58]	train-auc:0.92725	eval-auc:0.92294
[59]	train-auc:0.92739	eval-auc:0.92308
[60]	train-auc:0.92756	eval-auc:0.92319
[61]	train-auc:0.92780	eval-auc:0.92338
[62]	train-auc:0.92788	eval-auc:0.92341
[63]	train-auc:0.92804	eval-auc:0.92343
[64]	train-auc:0.92815	eval-auc:0.92359
[65]	train-auc:0.92844	eval-auc:0.92371
[66]	train-auc:0.92876	eval-auc:0.92379
[67]	train-auc:0.92888	eval-auc:0.92379
[68]	train-auc:0.92891	eval-auc:0.92380
[69]	train-auc:0.92898	eval-auc:0.92382
[70]	train-auc:0.92911	eval-auc:0.92391
[71]	train-auc:0.92912	eval-auc:0.92395
[72]	train-auc:0.92916	eval-auc:0.92388
[73]	train-auc:0.92923	eval-auc:0.92388
[74]	train-auc:0.92932	eval-auc:0.92379
[75]	train-auc:0.92947	eval-auc:0.92379
[76]	train-auc:0.92954	eval-auc:0.92386
[77]	train-auc:0.92959	eval-auc:0.92384
[78]	train-auc:0.92963	eval-auc:0.92384
[79]	train-auc:0.92967	eval-auc:0.92380
[80]	train-auc:0.92991	eval-auc:0.92394
[81]	train-auc:0.93050	eval-auc:0.92491
[82]	train-auc:0.93059	eval-auc:0.92503
[83]	train-auc:0.93072	eval-auc:0.92512
[84]	train-auc:0.93083	eval-auc:0.92517
[85]	train-auc:0.93101	eval-auc:0.92537
[86]	train-auc:0.93105	eval-auc:0.92539
[87]	train-auc:0.93142	eval-auc:0.92603
[88]	train-auc:0.93174	eval-auc:0.92642
[89]	train-auc:0.93185	eval-auc:0.92653
[90]	train-auc:0.93201	eval-auc:0.92663
[91]	train-auc:0.93215	eval-auc:0.92669
[92]	train-auc:0.93223	eval-auc:0.92680
[93]	train-auc:0.93236	eval-auc:0.92685
[94]	train-auc:0.93259	eval-auc:0.92711
[95]	train-auc:0.93264	eval-auc:0.92716
[96]	train-auc:0.93278	eval-auc:0.92732
[97]	train-auc:0.93303	eval-auc:0.92749
[98]	train-auc:0.93349	eval-auc:0.92767
[99]	train-auc:0.93352	eval-auc:0.92764
[100]	train-auc:0.93357	eval-auc:0.92764
[101]	train-auc:0.93380	eval-auc:0.92808
[102]	train-auc:0.93385	eval-auc:0.92806
[103]	train-auc:0.93392	eval-auc:0.92806
[104]	train-auc:0.93414	eval-auc:0.92804
[105]	train-auc:0.93417	eval-auc:0.92803
[106]	train-auc:0.93422	eval-auc:0.92807
[107]	train-auc:0.93423	eval-auc:0.92812
[108]	train-auc:0.93429	eval-auc:0.92816
[109]	train-auc:0.93438	eval-auc:0.92823
[110]	train-auc:0.93453	eval-auc:0.92839
[111]	train-auc:0.93463	eval-auc:0.92844
[112]	train-auc:0.93473	eval-auc:0.92849
[113]	train-auc:0.93478	eval-auc:0.92852
[114]	train-auc:0.93494	eval-auc:0.92882
[115]	train-auc:0.93509	eval-auc:0.92901
[116]	train-auc:0.93520	eval-auc:0.92906
[117]	train-auc:0.93530	eval-auc:0.92903
[118]	train-auc:0.93548	eval-auc:0.92909
[119]	train-auc:0.93558	eval-auc:0.92906
[120]	train-auc:0.93565	eval-auc:0.92909
[121]	train-auc:0.93566	eval-auc:0.92910
[122]	train-auc:0.93578	eval-auc:0.92915
[123]	train-auc:0.93585	eval-auc:0.92919
[124]	train-auc:0.93588	eval-auc:0.92922
[125]	train-auc:0.93599	eval-auc:0.92945
[126]	train-auc:0.93605	eval-auc:0.92945
[127]	train-auc:0.93616	eval-auc:0.92962
[128]	train-auc:0.93618	eval-auc:0.92964
[129]	train-auc:0.93628	eval-auc:0.92971
[130]	train-auc:0.93642	eval-auc:0.92965
[131]	train-auc:0.93644	eval-auc:0.92963
[132]	train-auc:0.93658	eval-auc:0.92973
[133]	train-auc:0.93661	eval-auc:0.92974
[134]	train-auc:0.93668	eval-auc:0.92977
[135]	train-auc:0.93676	eval-auc:0.92969
[136]	train-auc:0.93682	eval-auc:0.92972
[137]	train-auc:0.93684	eval-auc:0.92974
[138]	train-auc:0.93689	eval-auc:0.92972
[139]	train-auc:0.93691	eval-auc:0.92973
[140]	train-auc:0.93692	eval-auc:0.92973
[141]	train-auc:0.93699	eval-auc:0.92977
[142]	train-auc:0.93706	eval-auc:0.92979
[143]	train-auc:0.93717	eval-auc:0.92983
[144]	train-auc:0.93727	eval-auc:0.92995
[145]	train-auc:0.93731	eval-auc:0.93003
[146]	train-auc:0.93733	eval-auc:0.93003
[147]	train-auc:0.93735	eval-auc:0.93005
[148]	train-auc:0.93742	eval-auc:0.93014
[149]	train-auc:0.93747	eval-auc:0.93016
[150]	train-auc:0.93753	eval-auc:0.93017
[151]	train-auc:0.93760	eval-auc:0.93034
[152]	train-auc:0.93767	eval-auc:0.93036
[153]	train-auc:0.93770	eval-auc:0.93037
[154]	train-auc:0.93771	eval-auc:0.93037
[155]	train-auc:0.93775	eval-auc:0.93040
[156]	train-auc:0.93779	eval-auc:0.93040
[157]	train-auc:0.93780	eval-auc:0.93040
[158]	train-auc:0.93783	eval-auc:0.93038
[159]	train-auc:0.93789	eval-auc:0.93042
[160]	train-auc:0.93794	eval-auc:0.93048
[161]	train-auc:0.93795	eval-auc:0.93048
[162]	train-auc:0.93801	eval-auc:0.93045
[163]	train-auc:0.93805	eval-auc:0.93045
[164]	train-auc:0.93809	eval-auc:0.93045
[165]	train-auc:0.93812	eval-auc:0.93043
[166]	train-auc:0.93820	eval-auc:0.93041
[167]	train-auc:0.93830	eval-auc:0.93035
[168]	train-auc:0.93834	eval-auc:0.93036
[169]	train-auc:0.93836	eval-auc:0.93037
[170]	train-auc:0.93843	eval-auc:0.93042
[171]	train-auc:0.93852	eval-auc:0.93044
[172]	train-auc:0.93857	eval-auc:0.93045
[173]	train-auc:0.93861	eval-auc:0.93046
[174]	train-auc:0.93862	eval-auc:0.93044
[175]	train-auc:0.93863	eval-auc:0.93046
[176]	train-auc:0.93864	eval-auc:0.93047
[177]	train-auc:0.93866	eval-auc:0.93046
[178]	train-auc:0.93869	eval-auc:0.93043
[179]	train-auc:0.93872	eval-auc:0.93043
[180]	train-auc:0.93878	eval-auc:0.93045
[181]	train-auc:0.93881	eval-auc:0.93046
[182]	train-auc:0.93883	eval-auc:0.93046
[183]	train-auc:0.93884	eval-auc:0.93047
[184]	train-auc:0.93884	eval-auc:0.93048
[185]	train-auc:0.93890	eval-auc:0.93050
[186]	train-auc:0.93893	eval-auc:0.93051
[187]	train-auc:0.93895	eval-auc:0.93053
[188]	train-auc:0.93901	eval-auc:0.93052
[189]	train-auc:0.93904	eval-auc:0.93054
[190]	train-auc:0.93912	eval-auc:0.93049
[191]	train-auc:0.93915	eval-auc:0.93049
[192]	train-auc:0.93919	eval-auc:0.93047
[193]	train-auc:0.93918	eval-auc:0.93047
[194]	train-auc:0.93922	eval-auc:0.93047
[195]	train-auc:0.93928	eval-auc:0.93056
[196]	train-auc:0.93933	eval-auc:0.93062
[197]	train-auc:0.93939	eval-auc:0.93063
[198]	train-auc:0.93948	eval-auc:0.93070
[199]	train-auc:0.93952	eval-auc:0.93065
[200]	train-auc:0.93955	eval-auc:0.93065
[201]	train-auc:0.93959	eval-auc:0.93070
[202]	train-auc:0.93964	eval-auc:0.93074
[203]	train-auc:0.93967	eval-auc:0.93076
[204]	train-auc:0.93967	eval-auc:0.93076
[205]	train-auc:0.93968	eval-auc:0.93077
[206]	train-auc:0.93971	eval-auc:0.93080
[207]	train-auc:0.93972	eval-auc:0.93078
[208]	train-auc:0.93974	eval-auc:0.93076
[209]	train-auc:0.93976	eval-auc:0.93077
[210]	train-auc:0.93981	eval-auc:0.93077
[211]	train-auc:0.93983	eval-auc:0.93077
[212]	train-auc:0.93988	eval-auc:0.93080
[213]	train-auc:0.93990	eval-auc:0.93081
[214]	train-auc:0.93990	eval-auc:0.93081
[215]	train-auc:0.93993	eval-auc:0.93085
[216]	train-auc:0.93999	eval-auc:0.93094
[217]	train-auc:0.94002	eval-auc:0.93096
[218]	train-auc:0.94008	eval-auc:0.93103
[219]	train-auc:0.94013	eval-auc:0.93107
[220]	train-auc:0.94018	eval-auc:0.93119
[221]	train-auc:0.94023	eval-auc:0.93120
[222]	train-auc:0.94025	eval-auc:0.93127
[223]	train-auc:0.94028	eval-auc:0.93128
[224]	train-auc:0.94031	eval-auc:0.93133
[225]	train-auc:0.94036	eval-auc:0.93138
[226]	train-auc:0.94039	eval-auc:0.93148
[227]	train-auc:0.94043	eval-auc:0.93149
[228]	train-auc:0.94042	eval-auc:0.93148
[229]	train-auc:0.94047	eval-auc:0.93149
[230]	train-auc:0.94049	eval-auc:0.93147

In [62]:
best_iter = model.best_iteration
print(f"Best Iteration: {model.best_iteration}")

Best Iteration: 230

#### Test Data

In [145]:
#Prepare tthe test data for testinng the model

In [63]:
test['sex'] = test['sex'].astype('category')
test['workclass'] = test['workclass'].astype('category')
test['mrtl_sts'] = test['mrtl_sts'].astype('category')
test['occptn'] = test['occptn'].astype('category')
test['rlnshp'] = test['rlnshp'].astype('category')
test['race'] = test['race'].astype('category')
test['cntry'] = test['cntry'].astype('category')

In [64]:
test_data = xgb.DMatrix(test[predictors], label=test[target], weight = test[weight], enable_categorical = True)

In [67]:
p1 = model.predict(test_data)

In [68]:
from sklearn.metrics  import roc_auc_score

auc = roc_auc_score(test[target], p1, sample_weight = test[weight])
print(f"AUC: {auc:.2f}")
print(f"Gini: {2*auc - 1:.2f}")

AUC: 0.93
Gini: 0.86